
.p1 {border: 1px solid yellow ;}

.p2{
    color: red;
}

.removeUnderline 
{
    text-decoration:none;
}

.image
{
 float: right;

}
.CrTable,td
{
    /*width: 100%;*/
        border: 1px solid black;
}

.Eve
{
    width: 100%;
    border: 1px solid black;
}

.CAPTION
{
    display: table-caption;
    text-align: center;

/*text-decoration-color: blueviolet;*/
color: red ;

}

.row1
{
    text-emphasis-color: solid green;
background-color: green;
}